.title {
    width: 100%;
    text-align: right;
    font-size: 24px;
    color: #444;
    margin-bottom: 50px;
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Raleway Dots', cursive;
}

/* font-family: 'Londrina Outline', cursive; */
/* font-family: 'Comfortaa', cursive;   */
/* font-family: 'Montserrat', sans-serif; */

