nav {
    width: 100%;
    font-size: 32px;
    color: #fff;
    margin-bottom: 30px;
    background-color: rgb(56, 56, 56);
    height: auto;
    font-family: 'Comfortaa', cursive;  
}

.brand {
    /* width: 100%; */
    font-size: 72px;
    padding-left: 2%;
    /* color: #fff; */
    /* margin-bottom: 50px; */
    /* background-color: rgb(56, 56, 56); */
    /* height: auto;
    font-family: 'Comfortaa', cursive;   */
}

a {
    color: #fed420;
}
  
a:hover {
    color: #fed420;
    text-decoration: none;
}
  
nav li {
    display: inline-block;
    padding-top: 10px;
    width: 30%;
}
  
ul {
    display: flex;
    align-items: center;
}
  
@media only screen and (max-width: 750px) {
    #cur-sco, #top-sco {
      font-size: 2rem;
    }
}
  