nav {
    width: 100%;
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
    background-color: rgb(235, 7, 189);
    height: auto;
    font-family: 'Raleway Dots', cursive;
    font-weight: 300;
    text-shadow: rgb(46, 42, 42) 3px 3px 6px;
    box-shadow: rgb(151, 145, 145) 4px 4px 8px;   
}

#rw {
    font-size: 52px;
    font-style: italic;
    text-shadow: rgb(46, 42, 42) 3px 3px 6px;
}

.brand {
    font-size: 82px;
    padding-left: 2%;
    text-shadow: rgb(46, 42, 42) 3px 3px 6px;
}

a {
    color: #fed420;
}
  
a:hover {
    color: #fed420;
    text-decoration: none;
}
  
nav li {
    display: inline-block;
    padding-top: 10px;
    width: 30%;
}
  
ul {
    display: flex;
    align-items: center;
}
  
@media only screen and (max-width: 750px) {
    #cur-sco, #top-sco {
      font-size: 2rem;
    }
}
  